# Pandas

pandas is powerfull python data analysis library  

Fast and efficient Data frame object for data manipoulation

Reading and writing  data structure and different data formats ,csv,tsv,txt,xml,json,zip

 Why we need pandas in data science?
 
 in order to bring out good patterns and to find the insight of the data we need to bring the data in the proper format
 which is known as data preprocessing and to do that we use pandas as library.

 Pandas is very helpfull in preparing the data and preprocessing.
 
 we can handle missing data and bring them in orderd form
 and we can reshape,slice and index the data

# Pandas Data structure

Series 
Data Frame
Panel

Series is a 1D labelled homogenous array    #meaning only one colum of data is series
Data frame is a 2D labelled heterogenously tabular structure
panel are very less used

![](5.png)

numpy is used to implement pandas

# Data Frame

Data frame is two dimensional size mutablepotentially heterogeneous tabular data structure 
with labelled axes(Rows and column)

In [5]:
import pandas as pd

# Creating empty dataframe

In [6]:
emt_df = pd.DataFrame()              #this is the method to create data frame
print(emt_df)

Empty DataFrame
Columns: []
Index: []

# Creating dataframe from list

In [7]:
lst = ['a', 'b', 'c']   # First creating a list
print(lst)

['a', 'b', 'c']

In [4]:


df1 = pd.DataFrame(lst)    # Creating dataframe from above list. this gave us the only column
print(df1)

   0
0  a
1  b
2  c

# Creating dataframe from list of list

In [8]:
ls_of_ls = [[1,2,3], [2,3,4], [4,5,6]]   # Creating list of list
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [9]:
import numpy as np
np.array(ls_of_ls)             #this is 2D

array([[1, 2, 3],
       [2, 3, 4],
       [4, 5, 6]])

In [10]:
df2 = pd.DataFrame(ls_of_ls)   # Creating dataframe form above list of list .This will give us two or more column
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

# Creating dataframe from dict or dictionary or python dictionary

In [11]:
dict1 = {'ID': [11,22,33,44]}   # Creating dict the best way to create a dataframe is dictionaries because we have the labells
dict1

{'ID': [11, 22, 33, 44]}

In [12]:
df3 = pd.DataFrame(dict1)    # Creating dataframe from above dict
df3

   ID
0  11
1  22
2  33
3  44

In [16]:
dict2 = {'ID': [11,22,33,44], 'SN': [1,2,3,4]}
dict2

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [17]:
df4 = pd.DataFrame(dict2)
df4

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

# Creating dataframe from list of dict

In [19]:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]   # Creating list of dict
df5 = pd.DataFrame(ls_dict)   # Creating dataframe from list of dict
df5

   a  b
0  1  2
1  3  4

In [20]:
# Creating dataframe from list of dict with different way
 
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]    #thogh it is unequal but once u bring the data into the dataframe it will 
                                                    #automatially create NAN
df6 = pd.DataFrame(ls_dict)
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0