In [10]:
import pandas as pd

In [11]:
pd.read_csv('C:\\Users\\LENOVO\\Desktop\\new py\\Book3.csv')

     NAME BATCH_NAME  USN
0  SUSHMA         AI    1
1    ANJU         AI    2
2  VANAJA         AI    3
3   POOJA         AI    4

In [12]:
a=pd.read_csv('Book3.csv')

In [13]:
a

     NAME BATCH_NAME  USN
0  SUSHMA         AI    1
1    ANJU         AI    2
2  VANAJA         AI    3
3   POOJA         AI    4

In [14]:
a[0:0]

Empty DataFrame
Columns: [NAME, BATCH_NAME, USN]
Index: []

In [15]:
a[0:-1]

     NAME BATCH_NAME  USN
0  SUSHMA         AI    1
1    ANJU         AI    2
2  VANAJA         AI    3

In [16]:
import numpy as np

In [28]:
b=np.array(a)

In [29]:
print(b)

[['SUSHMA' 'AI' 1]
 ['ANJU' 'AI' 2]
 ['VANAJA' 'AI' 3]
 ['POOJA' 'AI' 4]]