In [2]:
import seaborn as sns
import pandas as pd

# Seaborn Scatter Plot

In [8]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df=sns.load_dataset("tips")

In [10]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
sns.catplot

TypeError: object of type 'NoneType' has no len()